body {
  margin: 0;
  font-family: Inter;
}
.section1 {
  margin-bottom: 12px;
}
.nav {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: rgba(245, 245, 247, 0.8);
}
.apple {
  background-image: url(./image/apple-logo.svg);
  width: 14px;
  height: 44px;
}
.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: Inter;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.search-but {
  background-image: url(./image/search-but.svg);
  width: 15px;
  height: 44px;
}
.shop {
  background-image: url(./image/shop.svg);
  width: 14px;
  height: 44px;
}
.line2 {
  background-image: url(./image/2line.svg);
  width: 18px;
  height: 18px;
  display: none;
}
.menu-text {
  color: #1d1d1f;
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.iphone-pro {
  background-image: url(./image/applepro16.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
}
.img-text {
  display: flex;

  flex-direction: column;
  align-items: center;

  color: white;
  justify-content: center;
}
.i16 {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 0;
}
.ai {
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: rgba(245, 245, 247, 1);
  margin: 0;
}
.learn-buy {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
}
.learn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
}
.buy {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid #2997ff;
  color: #0071e3;
}
.section2 {
  background-image: url(./image/iphone16.jpg);
  background-position: center;
  height: 692px;
}
.white {
  border-radius: 999px;
  background: #fff;
  color: black;
}
.white-border {
  border: 1px solid #fff;
  color: #fff;
}
.section3 {
  background-image: url(./image/giftapplelogo.jpg);
  background-position: center;
  height: 692px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.gift {
  color: black;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.holiday {
  color: black;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }
  .apple {
    margin-left: 5px;
  }
  .nav-icons {
    justify-content: flex-end;
    margin-right: 5px;
  }
  .nav-text {
    display: none;
  }

  .line2 {
    display: block;
  }
  .menu-text {
    align-self: stretch;
  }
  .iphone-pro {
    background-image: url(./image/applepro16mid.jpg);
    width: 100%;
    height: 650px;
  }
  .section2 {
    background-image: url(./image/iphone16mid.jpg);
    width: 100%;
    height: 650px;
  }
}
@media (max-width: 390px) {
  .nav {
    justify-content: space-between;
  }
  .apple {
    margin-left: 5px;
  }
  .nav-icons {
    justify-content: flex-end;
    margin-right: 5px;
  }
  .nav-text {
    display: none;
  }

  .line2 {
    display: block;
  }
  .menu-text {
    align-self: stretch;
  }
  .iphone-pro {
    background-image: url(./image/applepro16small.jpg);
    width: 100%;
    height: 500px;
  }
  .img-text {
    height: 460px;
    justify-content: flex-end;
  }
  .low-height {
    justify-content: flex-start;
  }
  .i16 {
    font-size: 30px;
  }
  .ai {
    font-size: 18px;
  }
  .section2 {
    background-image: url(./image/iphone16small.jpg);
    width: 100%;
    height: 500px;
  }
}
