body {
  margin: 0;
  font-family: Inter;
  background-color: #f5f5f7;
}
.nav {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: rgba(245, 245, 247, 0.8);
}
.apple {
  background-image: url(./image/apple-logo.svg);
  width: 14px;
  height: 44px;
}
.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: Inter;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.search-but {
  background-image: url(./image/search-but.svg);
  width: 15px;
  height: 44px;
}
.shop {
  background-image: url(./image/shop.svg);
  width: 14px;
  height: 44px;
}
.line2 {
  background-image: url(./image/2line.svg);
  width: 18px;
  height: 18px;
  display: none;
}
.menu-text {
  color: #1d1d1f;
  text-align: center;
  background-color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  padding: 20px;
}
.back-blur {
  width: 100%;
  height: 75px;
  background: #f5f5f7;
  display: flex;
  align-items: flex-start;
  contain: content;
}
.back-blur1 {
  border-radius: 204.5px;
  background: #fd8c1f;
  filter: blur(10px);
  width: 768px;
  height: 50px;
  position: absolute;
  left: 1520px;
  bottom: 40px;
}
.back-blur2 {
  width: 1728px;
  height: 150px;
  border-radius: 469.5px;
  opacity: 0.5;
  background: #e44cbb;
  filter: blur(10px);
  position: absolute;
  left: 400px;
  bottom: 45px;
  z-index: 1;
}
.back-blur3 {
  width: 1296px;
  height: 150px;
  border-radius: 361.5px;
  background: #f55be4;
  filter: blur(10px);
  position: absolute;
  left: 400px;
  bottom: 45px;
}
.back-blur4 {
  width: 1152px;
  height: 75px;
  background-color: rgb(0, 123, 255);

  opacity: 0.5;
  filter: blur(10px);
  position: absolute;
  right: 900px;
  bottom: 40px;
  z-index: 2;
}
.back-blur5 {
  width: 1152px;
  height: 75px;
  background-color: rgb(88, 194, 255);

  opacity: 1;
  filter: blur(10px);
  position: absolute;
  right: 1100px;
  bottom: 40px;
  z-index: 1;
}
.help {
  margin-bottom: 80px;
}
.store-gift {
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.stor-gif {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.store {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gift {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
}
.shopping-help {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.storechat {
  background-image: url(./image/storechat.jpg);
  background-position: center;
  background-size: cover;
  min-width: 35px;
  height: 35px;
  margin-top: 15px;
}
.need {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.nee {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.ask {
  display: flex;
  width: 125px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  margin-top: -15px;
}
.visit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.visi {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
}
.find {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  margin-top: -15px;
}
.product-list {
  display: flex;
  padding: 0 140px;
  align-items: center;
  gap: 12px;
}
.list-item {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.mac {
  background-image: url(./image/mac.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.iphone {
  background-image: url(./image/iphone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.ipad {
  background-image: url(./image/ipad.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.applewatch {
  background-image: url(./image/applewatch.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.applevision {
  background-image: url(./image/applewatch.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.airpods {
  background-image: url(./image/airpods.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.airtag {
  background-image: url(./image/airtags.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.appletv {
  background-image: url(./image/appletv.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.homepod {
  background-image: url(./image/homepod.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.accessories {
  background-image: url(./image/accessories.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}
.applegift {
  background-image: url(./image/applegiftcard.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 78px;
  align-self: stretch;
}

.text {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  width: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 2px 39px 2px 46px;
}
.section2 {
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.section-title {
  display: flex;
  width: 467px;
  align-items: center;
  gap: 4px;
}
.latest {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.let {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.section2-items {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.storecard-text {
  display: flex;
  width: 322px;
  flex-direction: column;
  align-items: flex-start;
}
.storecard-iphone {
  background-image: url(./image/storecardiphone.jpg);
  background-size: cover;
  background-position: center;
  width: 480px;
  height: 500px;
}
